*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-family: Montserrat;
}

#main-1 {
    padding: 2.5rem 10vw;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input:not([type="checkbox"]) {
        height: 2.8rem;
        border-radius: 30px;
    }
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    

    input {
        border: 1px solid #000;        
    }
}


input[type="submit"] {
    background-color: $primary-color-1;
    color: #fff;
    font-size: 1rem;
    border: 0;
}

.links {
    margin-block: 1.5rem;

    p {
        font-size: .8rem;
        margin-bottom: 5px;
    }
}

.main-2 {
    display: none; 
}    


h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

h1::after {
    content: "";
    display: block;
    width: 5rem;
    height: .3rem;
    margin-top: .2rem;
    background-color: $primary-color-1;
}
