*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Inter", sans-serif;
}

#container {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

img {
  max-width: 180%;
}

a {
  text-decoration: none;
}

.center {
  display: flex;
  justify-content: center;
}

.button {
  background-color: rgb(239, 119, 29);
  color: #fff;
  padding: 0.8rem 1rem;
  font-weight: 500;
  font-size: 0.8rem;
  display: inline-block;
}

#logo a {
  display: flex;
  align-items: center;
  gap: 5px;
}
#logo a span:first-child {
  font-size: 2rem;
  font-weight: 900;
  color: rgb(239, 119, 29);
}
#logo a span:last-child {
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: -3px;
  color: rgb(26, 43, 111);
}

header {
  padding: 1rem 1.5rem;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
header a:not(#logo a) {
  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(26, 43, 111);
}
header a:not(#logo a).active {
  color: rgb(239, 119, 29);
}
header a:not(#logo a):hover {
  color: rgb(239, 119, 29);
}

i {
  font-size: 1.2rem;
}
i.fa-cart-shopping {
  color: rgb(239, 119, 29);
}
i.fa-bars {
  display: none;
}

@media (max-width: 64rem) {
  .main-nav {
    display: none;
  }
  i.fa-bars {
    display: block;
  }
}
@media (min-width: 45rem) and (max-width: 64rem) {
  #logo {
    display: flex;
    justify-content: space-around;
  }
  nav > * {
    flex: 1;
    display: flex;
  }
  nav .other-nav {
    justify-content: flex-end;
  }
}
@media (max-width: 44rem) {
  nav .other-nav {
    display: none;
  }
  #logo {
    order: -1;
  }
}
@media (min-width: 45rem) and (max-width: 64rem) {
  nav.expanded .nav-switch {
    z-index: 150;
  }
  nav.expanded .main-nav {
    display: block;
    position: absolute;
    inset: 0;
    width: 25rem;
    background-color: rgb(255, 255, 255);
    z-index: 100;
    padding: 6rem 4rem 3rem;
  }
  nav.expanded .main-nav ul {
    flex-direction: column;
  }
}
@media (max-width: 44rem) {
  nav.expanded {
    display: block;
  }
  nav.expanded .nav-switch {
    z-index: 150;
    float: right;
  }
  nav.expanded .main-nav, nav.expanded .other-nav {
    display: block;
    background-color: rgb(255, 255, 255);
  }
  nav.expanded .main-nav ul, nav.expanded .other-nav ul {
    flex-direction: column;
  }
  nav.expanded .main-nav {
    margin-top: 2rem;
    padding-block: 2rem;
  }
  nav.expanded .other-nav {
    padding-bottom: 2rem;
  }
}
.account .account-dropdown {
  display: none;
}
.account .fa {
  margin-bottom: 0.5rem;
}
.account:hover {
  position: relative;
}
.account:hover .fa {
  transform: rotate(180deg);
}
.account:hover .account-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -2.5rem;
  background-color: #fff;
}
.account:hover .account-dropdown * {
  font-weight: 400;
  width: 10rem;
  padding-block: 1rem;
  padding-left: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#hero {
  padding: 2rem 0 0 1rem;
}
#hero .hero-paragraph {
  color: rgba(0, 0, 0, 0.8);
  margin-block: 1rem;
  max-width: 300px;
}
#hero .hero-image {
  display: flex;
  align-items: flex-end;
}
#hero .hero-image img {
  max-width: 100%;
}
#hero .hero-desktop {
  display: none;
}

.header-1 {
  line-height: 1;
}
.header-1 .span-1 {
  font-size: calc(1rem + 2vw);
  font-weight: 500;
  color: rgba(0, 0, 0, 0.75);
}
.header-1 .span-2 {
  font-weight: 900;
  color: #fff;
  font-size: calc(2rem + 3vw);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
}
.header-1 img {
  display: none;
}

@media (min-width: 28rem) and (max-width: 719px) {
  header {
    background-color: rgba(26, 43, 111, 0.25);
  }
  #hero {
    max-height: 60vh;
    background: linear-gradient(to right, rgba(26, 43, 111, 0.25), rgba(26, 43, 111, 0.25)), url(../images/model2.png) no-repeat 100% center;
    background-size: contain;
  }
  #hero .top {
    display: grid;
  }
  #hero .hero-image {
    display: none;
  }
  #hero .hero-text {
    padding: calc(1rem + 5vw) 1.5rem 15rem;
  }
  #hero .span-1 {
    color: rgba(255, 255, 255, 0.9);
  }
  #hero .hero-paragraph {
    color: #fff;
  }
}
@media (min-width: 45rem) and (max-width: 1023px) {
  #hero {
    display: grid;
    padding: 2rem calc(3rem + 2vw) 3rem;
  }
  #hero .top, #hero .bottom {
    grid-area: 1/1;
  }
  #hero .top {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  #hero .hero-text {
    margin: 6rem 2rem;
    z-index: 2;
  }
  #hero .hero-image {
    display: flex;
    align-items: flex-end;
  }
  #hero .bottom {
    display: flex;
    width: 100%;
    z-index: -100;
  }
  #hero .left {
    background-color: rgba(26, 43, 111, 0.5);
    width: 50%;
  }
  #hero .right {
    background-color: rgba(26, 43, 111, 0.2);
    width: 50%;
  }
  .header-1 {
    line-height: 1.1;
  }
  .header-1 .span-1 {
    font-size: calc(1.25rem + 1vw);
    font-weight: 600;
  }
  .header-1 .span-2 {
    font-size: calc(2.3rem + 3vw);
  }
}
@media (min-width: 64rem) {
  #hero {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    max-width: 70rem;
    margin: auto;
  }
  #hero .hero-paragraph {
    max-width: 350px;
  }
  #hero .hero-image {
    display: none;
  }
  #hero .bottom {
    display: none;
  }
  #hero .hero-desktop {
    display: block;
  }
  #hero img:not(.hero-text img) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
  .grid-item-2 .img-3 {
    width: 26rem;
    height: 100%;
    background-color: rgba(26, 43, 111, 0.2);
    z-index: -1;
  }
  .grid-item-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 0 0 4rem;
    width: fit-content;
    column-gap: 1rem;
    z-index: 2;
  }
  .grid-item-1 .img-1 {
    width: 17rem;
    height: 10rem;
    align-self: end;
  }
  .grid-item-1 .img-2 {
    width: 13rem;
    height: 16rem;
    align-self: end;
  }
  .hero-text {
    grid-column: span 2;
  }
  .header-1 {
    display: grid;
    grid-template-columns: auto;
  }
  .header-1 .span-1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
  }
  .header-1 .span-2 {
    font-weight: 700;
    font-size: 3rem;
    text-shadow: none;
    grid-area: 2/1;
    align-self: center;
    margin-left: 6rem;
  }
  .header-1 img {
    display: block;
    width: 25rem;
    grid-area: 2/1;
    margin-left: 4rem;
  }
}
#about-container {
  background-color: #fff;
  margin: auto;
}

#about {
  display: grid;
  row-gap: 1rem;
}
#about p {
  color: rgba(0, 0, 0, 0.5);
}
#about h3 {
  color: rgb(239, 119, 29);
}
#about .about-grid-item-1 {
  display: grid;
  row-gap: 1rem;
}
#about .about-grid-item-1 a {
  margin-top: 0.5rem;
}
#about .about-grid-item-1 .img {
  width: 100%;
  height: 12rem;
}
@media (min-width: 40rem) {
  #about .about-grid-item-1 .img {
    height: calc(12rem + 10vw);
  }
}
#about .about-grid-item-1 .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 20%;
}
#about .about-grid-item-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 60rem) {
  #about {
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    row-gap: 4rem;
  }
  #about .about-grid-item-1 {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    text-align: right;
  }
  #about .about-grid-item-1 .img {
    order: -1;
    grid-row: span 2;
    height: 20rem;
  }
  #about h2 {
    margin-bottom: 0.3rem;
  }
  #about a {
    margin-top: 1rem;
  }
}

#choose-us-container {
  background-color: rgb(239, 119, 29);
  color: #fff;
  position: relative;
}
#choose-us-container::before {
  content: "";
  width: 100%;
  height: 120%;
  position: absolute;
  top: -10%;
  background-image: url("../images/shopper.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: 12%;
}
@media (max-width: 45rem) {
  #choose-us-container::before {
    background-position: center center;
  }
}
#choose-us-container h2 {
  position: relative;
  z-index: 1;
}

.choose-us {
  display: grid;
  gap: 2rem;
  position: relative;
  z-index: 1;
}
@media (min-width: 45rem) {
  .choose-us {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }
}
.choose-us .choose-us--card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}
.choose-us .icon-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.choose-us .icon-box {
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  border-radius: 10px;
}
.choose-us .icon-box img {
  width: 75%;
  object-fit: contain;
}

#container {
  background-color: rgba(34, 49, 108, 0.1);
}
#container::before {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  background-image: url(../images/hero-background.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 120%;
  z-index: -100;
  opacity: 0.1;
}
@media (min-width: 45rem) {
  #container::before {
    background-image: url(../images/hero-background-2.png);
    background-size: 40%;
    background-position: -10% 20%;
  }
}

section:not(#hero) {
  padding: calc(1rem + 5vw) 2rem;
}
@media (min-width: 40rem) {
  section:not(#hero) {
    padding-inline: calc(5rem + 4vw);
  }
}
@media (min-width: 60rem) {
  section:not(#hero) {
    padding-inline: 0;
    max-width: min(62rem, 85vw);
    margin: auto;
  }
}

h2 {
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

p {
  font-size: 0.9rem;
}

@media (min-width: 45rem) {
  h2 {
    text-align: center;
    margin-bottom: 4rem;
    letter-spacing: 3px;
    font-size: calc(1.3rem + 1vw);
  }
  p {
    font-size: 1rem;
  }
}
#categories-container {
  background-color: #fff;
}

.categories h2 {
  color: rgb(26, 43, 111);
}
.categories .category-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}
.categories .categories-items {
  display: flex;
  gap: 10rem;
  flex-wrap: wrap;
}
.categories .categories-items .current-category {
  background-color: rgb(26, 43, 111);
  transform: scale(1.2);
}
.categories .categories-items span:not(.current-category) {
  display: none;
}
.categories .arrow {
  color: rgb(26, 43, 111);
  font-size: 1.5rem;
  transform: scaleY(1.8);
}
.categories .current-category-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, 14rem);
  gap: 3rem;
  justify-content: center;
}
.categories .current-category-images .catg-img {
  width: 14rem;
  height: 25rem;
  background-color: rgb(26, 43, 111);
  border-radius: 20px;
}
.categories .current-category-images .catg-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
@media (min-width: 53rem) {
  .categories .categories-items span:not(.current-category) {
    display: block;
    background-color: rgb(26, 43, 111);
    opacity: 0.5;
  }
}/*# sourceMappingURL=home.css.map */