@import 'resets';
@import 'config';
@import 'utils';
@import 'header';
@import 'hero';
@import 'about';
@import 'choose';

#container {
    background-color: rgba(34, 49, 108, .1);

    &::before {
        content: "";
        position: absolute;
        inset: 0 0 0 0;
        background-image: url(../images/hero-background.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 120%;
        z-index: -100;
        opacity: .1;

        @media (min-width: 45rem) {
            background-image: url(../images/hero-background-2.png);
            background-size: 40%;
            background-position: -10% 20%;

        }
    }
}

section:not(#hero) {
    padding: calc(1rem + 5vw) 2rem;

    @media (min-width: 40rem) {
        padding-inline: calc(5rem + 4vw);
    }

    @media (min-width: 60rem) {
        padding-inline: 0;
        max-width: min(62rem, 85vw);
        margin: auto;
    }
}

h2 {
    margin-bottom: 2rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

p {
    font-size: .9rem;
}

@media (min-width: 45rem) {
    h2 {
        text-align: center;
        margin-bottom: 4rem;
        letter-spacing: 3px;
        font-size: calc(1.3rem + 1vw);
    }

    p {
        font-size: 1rem;
    }
}

// categories
#categories-container {
    background-color: #fff;
}

.categories {
    h2 {
        color: $primary-color-2;
    }

    .category-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4rem;
    }

    .categories-items {
        display: flex;
        gap: 10rem;
        flex-wrap: wrap;

        .current-category {
            background-color: $primary-color-2;
            transform: scale(1.2);
        }

        span:not(.current-category) {
            display: none;
        }
        
    }

    .arrow {
        color: $primary-color-2;
        font-size: 1.5rem;
        transform: scaleY(1.8);
    }

    .current-category-images {
        display: grid;
        grid-template-columns: repeat(auto-fit, 14rem);
        gap: 3rem;
        justify-content: center;
        
        .catg-img {
            width: 14rem;
            height: 25rem;
            background-color: $primary-color-2;
            border-radius: 20px;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-radius: 20px;
            }
        }
    }

    @media (min-width: 53rem) {
        .categories-items span:not(.current-category) {
            display: block;
            background-color: $primary-color-2;
            opacity: .5;
        }
    }    
}
