*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Inter", sans-serif;
}

#container {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

section:not(#hero) {
  padding: calc(1rem + 5vw) 2rem;
}
@media (min-width: 40rem) {
  section:not(#hero) {
    padding-inline: calc(5rem + 4vw);
  }
}
@media (min-width: 60rem) {
  section:not(#hero) {
    padding-inline: 0;
    max-width: min(62rem, 85vw);
    margin: auto;
  }
}

p {
  font-size: 0.9rem;
}
@media (min-width: 45rem) {
  p {
    font-size: 1rem;
  }
}

.center {
  display: flex;
  justify-content: center;
}

.button {
  background-color: rgb(239, 119, 29);
  color: #fff;
  padding: 0.8rem 1rem;
  font-weight: 500;
  font-size: 0.8rem;
  display: inline-block;
  cursor: pointer;
}

.subhead {
  color: rgb(239, 119, 29);
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.hero-paragraph {
  color: rgba(0, 0, 0, 0.8);
  max-width: 400px;
}

.color-grey {
  color: rgba(0, 0, 0, 0.5);
}

.color-white {
  color: #fff;
}

.bold-600 {
  font-weight: 600;
}

.bold-700 {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

#logo a {
  display: flex;
  align-items: center;
  gap: 5px;
}
#logo a span:first-child {
  font-size: 2rem;
  font-weight: 900;
  color: rgb(239, 119, 29);
}
#logo a span:last-child {
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: -3px;
  color: rgb(26, 43, 111);
}

header {
  z-index: 100;
  padding: 1rem 1.5rem;
  position: fixed;
  width: 100%;
}
header.scrolled {
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
header a:not(#logo a) {
  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(26, 43, 111);
}
header a:not(#logo a).active {
  color: rgb(239, 119, 29);
}
header a:not(#logo a):hover {
  color: rgb(239, 119, 29);
}

i {
  font-size: 1.2rem;
}
i.fa-cart-shopping {
  color: rgb(239, 119, 29);
}
i.fa-bars {
  display: none;
}

@media (max-width: 64rem) {
  .main-nav {
    display: none;
  }
  i.fa-bars {
    display: block;
  }
}
@media (min-width: 45rem) and (max-width: 64rem) {
  #logo {
    display: flex;
    justify-content: space-around;
  }
  nav > * {
    flex: 1;
    display: flex;
  }
  nav .other-nav {
    justify-content: flex-end;
  }
}
@media (max-width: 45rem) {
  nav .other-nav {
    display: none;
  }
  #logo {
    order: -1;
  }
}
@media (min-width: 46rem) and (max-width: 64rem) {
  nav.expanded .nav-switch {
    z-index: 150;
  }
  nav.expanded .main-nav {
    display: block;
    position: absolute;
    inset: 0;
    height: 100vh;
    width: 25rem;
    background-color: rgb(255, 255, 255);
    z-index: 100;
    padding: 6rem 4rem 3rem;
  }
  nav.expanded .main-nav ul {
    flex-direction: column;
  }
}
@media (max-width: 45rem) {
  nav.expanded {
    display: block;
  }
  nav.expanded .nav-switch {
    z-index: 150;
    float: right;
  }
  nav.expanded .main-nav, nav.expanded .other-nav {
    display: block;
    background-color: rgb(255, 255, 255);
  }
  nav.expanded .main-nav ul, nav.expanded .other-nav ul {
    flex-direction: column;
  }
  nav.expanded .main-nav {
    margin-top: 1rem;
    padding-block: 2rem;
  }
  nav.expanded .other-nav {
    padding-bottom: 2rem;
  }
}
.account .account-dropdown {
  display: none;
}
.account .fa {
  margin-bottom: 0.5rem;
}
.account:hover {
  position: relative;
}
.account:hover .fa {
  transform: rotate(180deg);
}
.account:hover .account-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -2.5rem;
  background-color: #fff;
}
.account:hover .account-dropdown * {
  font-weight: 400;
  width: 10rem;
  padding-block: 1rem;
  padding-left: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#hero {
  padding: 5rem 0 0 1rem;
}
#hero .hero-image {
  display: flex;
  align-items: flex-end;
}
#hero .hero-desktop {
  display: none;
}

.header-1 {
  line-height: 1;
}
.header-1 .span-1 {
  font-size: calc(1rem + 2vw);
  font-weight: 500;
  color: rgba(0, 0, 0, 0.75);
}
.header-1 .span-2 {
  font-weight: 900;
  color: #fff;
  font-size: calc(2rem + 3vw);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
}
.header-1 img {
  display: none;
}

@media (max-width: 45rem) {
  header {
    background-color: rgba(26, 43, 111, 0.25);
  }
  #hero {
    max-height: 100vh;
    background: linear-gradient(to right, rgba(26, 43, 111, 0.25), rgba(26, 43, 111, 0.25)), url(../images/model2.png) no-repeat center bottom;
    background-size: contain;
  }
  #hero .top {
    display: grid;
  }
  #hero .hero-image {
    display: none;
  }
  #hero .hero-text {
    padding-block: calc(1rem + 5vw) 15rem;
    padding-inline: 1rem;
  }
  #hero .span-1 {
    color: rgba(255, 255, 255, 0.9);
  }
  #hero .hero-paragraph {
    color: #fff;
  }
}
@media (min-width: 45rem) and (max-width: 1023px) {
  #hero {
    display: grid;
    padding: 5rem calc(3rem + 2vw) 3rem;
  }
  #hero .top, #hero .bottom {
    grid-area: 1/1;
  }
  #hero .top {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  #hero .hero-text {
    margin: 6rem 2rem;
    z-index: 2;
  }
  #hero .hero-image {
    display: flex;
    align-items: flex-end;
  }
  #hero .bottom {
    display: flex;
    width: 100%;
    z-index: -100;
  }
  #hero .left {
    background-color: rgba(26, 43, 111, 0.5);
    width: 50%;
  }
  #hero .right {
    background-color: rgba(26, 43, 111, 0.2);
    width: 50%;
  }
  .header-1 {
    line-height: 1.1;
  }
  .header-1 .span-1 {
    font-size: calc(1.25rem + 1vw);
    font-weight: 600;
  }
  .header-1 .span-2 {
    font-size: calc(2.3rem + 3vw);
  }
}
@media (min-width: 64rem) {
  #hero {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    max-width: 70rem;
    margin: auto;
    padding-top: 8rem;
  }
  #hero .hero-image {
    display: none;
  }
  #hero .bottom {
    display: none;
  }
  #hero .hero-desktop {
    display: block;
    max-height: 35rem;
  }
  #hero img:not(.hero-text img) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
  .grid-item-2 .img-3 {
    width: 26rem;
    height: 100%;
    background-color: rgba(26, 43, 111, 0.2);
    z-index: -1;
  }
  .grid-item-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 0 0 4rem;
    width: fit-content;
    column-gap: 1rem;
    z-index: 2;
  }
  .grid-item-1 .img-1 {
    width: 17rem;
    height: 10rem;
    align-self: end;
  }
  .grid-item-1 .img-2 {
    width: 13rem;
    height: 16rem;
    align-self: end;
  }
  .hero-text {
    grid-column: span 2;
  }
  .hero-text > * {
    margin-bottom: 0.8rem;
  }
  .header-1 {
    display: grid;
    grid-template-columns: auto;
  }
  .header-1 .span-1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
  }
  .header-1 .span-2 {
    font-weight: 700;
    font-size: 3rem;
    text-shadow: none;
    grid-area: 2/1;
    align-self: center;
    margin-left: 6rem;
  }
  .header-1 img {
    display: block;
    width: 25rem;
    grid-area: 2/1;
    margin-left: 4rem;
  }
}
#about-container {
  background-color: #fff;
  margin: auto;
}

#about {
  display: grid;
  row-gap: 1rem;
}
#about p {
  color: rgba(0, 0, 0, 0.5);
}
#about h3 {
  color: rgb(239, 119, 29);
}
#about .about-grid-item-1 {
  display: grid;
  row-gap: 1rem;
}
#about .about-grid-item-1 a {
  margin-top: 0.5rem;
}
#about .about-grid-item-1 .img {
  width: 100%;
  height: 12rem;
}
@media (min-width: 40rem) {
  #about .about-grid-item-1 .img {
    height: calc(12rem + 10vw);
  }
}
#about .about-grid-item-1 .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 20%;
}
#about .about-grid-item-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 60rem) {
  #about {
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    row-gap: 4rem;
  }
  #about .about-grid-item-1 {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    text-align: right;
  }
  #about .about-grid-item-1 .img {
    order: -1;
    grid-row: span 2;
    height: 20rem;
  }
  #about h2 {
    margin-bottom: 0.3rem;
  }
  #about a {
    margin-top: 1rem;
  }
}

#choose-us-container {
  background-color: rgb(239, 119, 29);
  color: #fff;
  position: relative;
}
#choose-us-container::before {
  content: "";
  width: 100%;
  height: 120%;
  position: absolute;
  top: -10%;
  background-image: url("../images/shopper.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: 12%;
}
@media (max-width: 45rem) {
  #choose-us-container::before {
    background-position: center center;
  }
}
#choose-us-container h2 {
  position: relative;
  z-index: 1;
}

.choose-us {
  display: grid;
  gap: 2rem;
  position: relative;
  z-index: 1;
}
@media (min-width: 45rem) {
  .choose-us {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }
}
.choose-us .choose-us--card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}
.choose-us .icon-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.choose-us .icon-box {
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  border-radius: 10px;
}
.choose-us .icon-box img {
  width: 75%;
  object-fit: contain;
}

#categories-container, #arrivals-container {
  background-color: #fff;
}

.products-container h2 {
  color: rgb(26, 43, 111);
}
.products-container .arrow {
  display: none;
}
.products-container .products-wrapper--with-arrow {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.products-container .products-wrapper {
  display: flex;
  gap: 2rem;
  overflow: auto hidden;
  scrollbar-width: none;
  scroll-snap-type: inline mandatory;
}
.products-container .products-wrapper::-webkit-scrollbar {
  display: none;
}
.products-container .products-wrapper > * {
  scroll-snap-align: start;
}
.products-container .product {
  flex: 0 0 min(14rem, 100%);
  height: 25rem;
  border-radius: 20px;
  display: grid;
  align-items: center;
}
.products-container .product img, .products-container .product .category-label {
  grid-area: 1/1;
}
.products-container .product .category-label {
  color: #fff;
  text-align: center;
  font-weight: 600;
  align-self: end;
  margin-bottom: 2rem;
}
.products-container .product img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
@media (min-width: 40rem) {
  .products-container .arrow {
    display: block;
    color: rgb(26, 43, 111);
    font-size: 1.5rem;
    transform: scaleY(1.8);
    padding: 0.15rem 1rem;
    width: fit-content;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

#footer {
  background-color: #fff;
}

footer {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: rgba(0, 0, 0, 0.8);
}
@media (min-width: 40rem) {
  footer {
    padding-inline: calc(4rem + 4vw);
  }
}
footer .lnks-n-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 40rem) {
  footer .lnks-n-info {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
footer span, footer a[href="#hero"] {
  font-weight: 600;
  display: block;
  margin-bottom: 0.5rem;
  color: rgba(0, 0, 0, 0.9);
}
footer nav a {
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
}
footer .info {
  display: grid;
  grid-template-columns: auto auto;
  width: max-content;
  gap: 0.5rem 1rem;
}
footer .info i {
  font-size: 2rem;
}
footer .social {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
}
footer .social a {
  color: rgba(0, 0, 0, 0.8);
}
@media (min-width: 40rem) {
  footer .social {
    flex-direction: row;
    justify-content: space-between;
  }
}

#container {
  background-color: #e6f0f9;
}
#container::before {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  background-image: url(../images/hero-background.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 120%;
  z-index: -100;
  opacity: 0.1;
}
@media (min-width: 45rem) {
  #container::before {
    background-image: url(../images/hero-background-2.png);
    background-size: 40%;
    background-position: -10% 20%;
  }
}

h2 {
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

@media (min-width: 45rem) {
  h2 {
    text-align: center;
    margin-bottom: 4rem;
    letter-spacing: 3px;
    font-size: calc(1.3rem + 1vw);
  }
}
#arrivals-container .products-wrapper--with-arrow {
  display: grid;
}
#arrivals-container .products-wrapper--with-arrow > * {
  grid-column: 1/-1;
  grid-row: 1;
}
#arrivals-container .products-container {
  display: grid;
  justify-items: center;
}
#arrivals-container .arrivals-nav {
  display: flex;
  justify-content: space-between;
}
#arrivals-container .products-wrapper {
  gap: 1rem;
  margin-inline: 1rem;
}
#arrivals-container .product {
  flex: 0 0 min(11rem, 100%);
  height: 18rem;
}
#arrivals-container img {
  border-radius: 0;
}
#arrivals-container .button {
  background-color: rgb(26, 43, 111);
  text-align: center;
  margin-top: 2rem;
  width: fit-content;
}

#deal-container {
  background-color: rgba(26, 43, 111, 0.3);
}

.deal h2 {
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
}
.deal .image-container {
  display: flex;
  column-gap: 0.5rem;
  justify-content: center;
}
.deal img:not(.product-image) {
  height: fit-content;
}
.deal .product-image-container {
  width: min(100%, 14rem);
}
.deal .product-image {
  border-radius: 20px;
}
.deal .product-info .price {
  color: rgba(0, 0, 0, 0.8);
  margin-block: 1rem;
  text-align: center;
  font-weight: 800;
  font-size: 2rem;
}
@media (min-width: 45rem) {
  .deal {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
  .deal > h2 {
    grid-column: 1/-1;
  }
  .deal h3 {
    margin-bottom: 0.3rem;
  }
  .deal .image-container {
    grid-row: 2;
  }
  .deal .all-info {
    grid-row: 2;
    align-self: center;
    justify-content: center;
    display: grid;
    row-gap: 2.5rem;
  }
  .deal ul * {
    display: inline;
    color: #fff;
  }
  .deal ul li:last-child {
    background-color: rgb(239, 119, 29);
    padding: 2px 5px;
    font-size: 0.7rem;
    margin-left: 0.5rem;
  }
  .deal .product-info .price {
    text-align: left;
  }
  .deal .buttons {
    display: flex;
    flex-direction: column;
    width: 15rem;
  }
  .deal .buttons span {
    margin-bottom: 1rem;
    text-align: center;
  }
  .deal .buttons span:last-child {
    background-color: rgb(26, 43, 111);
  }
}
@media (min-width: 60rem) {
  .deal h2 {
    text-align: left;
    margin-bottom: 1rem;
  }
  .deal .description {
    margin-block: 1rem;
  }
  .deal .rating-xl {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }
  .deal .product-image-container {
    width: 100%;
    aspect-ratio: 1/1;
  }
  .deal .product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
}
@media (max-width: 45rem) {
  .deal .size-l {
    display: none;
  }
}
@media (max-width: 60rem) {
  .deal .size-xl {
    display: none;
  }
}
@media (min-width: 60rem) {
  .deal .size-s {
    display: none;
  }
}

#vip-card {
  color: #fff;
  background: linear-gradient(to right, rgba(239, 119, 29, 0.8), rgba(239, 121, 31, 0.8)), url(../images/models.jpg) no-repeat center center;
}
#vip-card .gift-card {
  padding-block: 2.5rem;
}

.gift-card {
  display: flex;
  flex-direction: column;
  gap: 2rem 3rem;
  align-items: center;
}
.gift-card span {
  font-size: calc(5rem + 3vw);
  font-weight: 900;
  letter-spacing: -12px;
}
.gift-card p {
  text-align: center;
  letter-spacing: 0.5px;
}
.gift-card .gift-card--image {
  display: flex;
  justify-content: space-around;
}
.gift-card img {
  border-radius: 30px;
  width: 20rem;
}
@media (min-width: 45rem) {
  .gift-card {
    width: max-content;
    flex-direction: row;
    gap: 5rem;
    justify-content: space-between;
  }
}
@media (min-width: 60rem) {
  .gift-card {
    gap: 5rem;
  }
  .gift-card .text {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}/*# sourceMappingURL=home.css.map */